* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

main {
  min-height: 100%;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

.intro-chunk {
  height: 382px;
  margin: 0 auto;
  padding: 100px 0 85px 24px;
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsla(0, 0%, 60%, 1);
  background: hsla(0, 0%, 40%, 1);
  height: 450px;
  padding: 65px 0;
}

.indented-heading {
  background: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  margin: 0;
  margin-left: -32px;
  font-size: 1.5rem;
  padding: 16px 32 16px 32px;
  width: fit-content;
}

.card {
  background: hsl(0deg, 0%, 100%);
  margin: 0 auto;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding: 10px 0 0 24px;
}

.card p {
  line-height: 30px;
  font-size: 1.25rem;
}
